# Local env (copy from .env.example)
.env

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
.idea/
.vscode/
*.lock

# Platform
**/ios/Flutter/.last_build_id
**/android/.gradle/
**/android/local.properties
